
/* Resets */

h1 {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.instruction-text {
  width: 50%;
}
.tenzies-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 800px;
}

.dice-layout {
  display: grid;
  grid-template-areas:
  "dice dice dice dice dice"
  "dice dice dice dice dice";
  gap: 32px;
}

.die {
  width: 100px;
  height: 100px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
}

.held-die {
  background-color: #59E391;
}

.roll-button {
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: #fff;
  font-family: Karla, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 16px;
  width: 125px;
  height: 75px;
}

.roll-button:hover {
  background-color: #201089;
  transition: all 0.4s ease 0s;
}